body{
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	padding: 0px;
	color: #1e1e2a;
}
/*HEADER*/

.header-container{
	height: 100vh;
	width: 100vw;
	background-image: url(img/eu-container2.png);
	background-color: #FFF0F5;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	box-sizing: border-box;
	padding: 0 112px;
	position: relative;

}

h1{
	font-size: 50px;
	text-transform: uppercase;
	letter-spacing: 4px;
}

h2{
	text-transform: uppercase;
	letter-spacing: 4px;
}

.social-media{
	margin: 1rem;
	display: flex;
}

.social-media a{
	text-decoration: none;
	color: #1e1e2a;
	padding: 1rem 4rem;
	border: 1px solid #1e1e2a;
	min-width: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .5s ease-in-out;
}
a:hover{
	background-color: #EE82EE;
}

/*menu hamburguer*/

.checkbox-conatiner{
	display: flex;
	justify-content: center;
	align-items: center;
}

.checkbox{
	height: 100px;
	width: 100px;
	position: absolute;
	right: 0px;
	top: 0px;
	display: flex;
	justify-content: center;
	cursor: pointer;
	z-index: 9999;
	transition: 400ms ease-in-out 0s;

}

.checkbox .trace {
	width: 50px;
	height: 2px;
	background-color:  #1e1e2a;
	position: absolute;
	border-radius: 4px;
	transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-clild(1){
	top: 26px;
	transition: rotate(0);
}

.checkbox .trace:nth-clild(2){
	top: 46px;
	transition: rotate(0);
}

.checkbox .trace:nth-clild(3){
	top: 60px;
	transition: rotate(0);
}

#toggle{
	display: none;
}