body{
	font-family: helvetica;
}
.img-header {
	width: 234px;
}

header{
	display: flex;

}

nav{
	ma
}

.container{
	
}


li{
	list-style-type: none;
	display: inline-block;

}

.link{
	color: #999999;
	text-decoration: none;
	padding: 5px;
}
.banner {
	background: url('../img/banner.jpg');
	height: 500px;
	margin-bottom: 40px;
	width: 1100px;	
}
.caixa {
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	margin: 50px auto;
	width: 450px;
	color: white;
	padding: 20px;
}
.img-section {
	width: 264px;
}

p{
	width: 264px;
}

h3{
	width: 264px;
	font-size: 20px;
}


article{
	float: left;
	margin-left: 30px;
}


section {
	display: flex;
}
	

.footer {
	 margin-top: 40px;
}



