body{
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	color: #444;
	font-size: 62.5%;
}

a{
	text-decoration: none;
	font-size: 1.6EM;
    color: #00CCFF;
}

a:hover{
	text-decoration: underline;
}

*,*: after, *:before{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}

.container{
	max-width: 1128px;
	margin: 0 auto;
}

img, figure, video, embed{
	max-width: 100%;
}

header{
	width: 100%;
	height: 48px;
	margin-bottom: 3.6EM;
	margin-top: 3.6EM;
}

.logo{
	width: 20.74%; 
	float: left;
}

nav{
	float: right;
	width: 74.47%;
}

nav ul{
	float: right;
}

nav li{
	display: inline-block;
	font-size: 1.2EM;
	margin-top: 1.0EM;
	margin-left: 2.0EM;
}
 nav li a {
 	color: #999;
 }

 .banner{
 	background: url('../img/banner.jpg');
 	height: 450px;
 	margin-bottom: 4.8EM;
 	position: relative;
 }

 .caixa{
 	position: absolute;
 	top: 48px;
 	background: rgba(0, 0, 0, 0.6);
 	width: 42.55%;
 	padding: 2.4EM 1.4EM 2.4EM 4.0EM;
 }

 h1{
 	font-size: 4.0EM;
 	color: #FFF;
 }

 .caixa p{
 	font-size: 1.8EM;
 	color: #FFF;
 }

 article{
 	width: 23.4%;
 	float: left;
 	margin-right: 2.13%;

 }

 article:last-child{
 	
 	margin-right: 0;
 }

 h2{
 	font-size: 2.4EM;
 }

 p{
 	font-size: 1.6EM;
 	text-align: justify;
 }

 footer{
 	width: 100%;
 	margin-top: 2.4EM;
 	margin-bottom: 2.4EM;
 }

 .footer{
 	font-size: 1.0EM;
 }

 @media screen and (max-width: 1128px){

 	.contaier{
 		padding: 0 2.4EM 0 2.4EM;
 	}

 }

 @media screen and (max-width: 768px){
 	.caixa{
 		width: 65%;
 	}

 	article {
 		width: 48%;
 		margin-right: 2%;
 		margin-bottom: 2.4EM;
 	}

 	article:nth-child(even) {
 		margin-right: 0;
 	}

 	.logo{
 		width: 25%;
 		margin-top: 1.2EM;
 	}


 }